# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
myvenv/
env/

# Django
*.log
staticfiles/
media/

# Environment variables
.env

# Node
node_modules/
npm-debug.log

# Build folders
build/
dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/