Django==5.2.6
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-filter==24.3
djangorestframework-simplejwt==5.5.1

gunicorn==25.1.0
whitenoise==6.11.0
dj-database-url==3.1.2
psycopg2-binary==2.9.11